@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}

	.mSelect {
		@apply bg-gray-700 border border-gray-600 text-inherit text-sm rounded-lg block w-full p-2.5;
	}

	.fileinput {
		@apply block w-full text-sm bg-gray-700 border border-gray-600 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400;
	}

	:focus,
	:focus-visible {
		@apply outline-none;
	}

	.draggable-container {
		text-align: center;
	}

	.draggable-box {
		cursor: move; /* Change cursor to indicate draggable item */
	}
}
